$primaryColor:hsl(180, 29%, 50%);
$secondaryColor:hsl(180, 8%, 52%);
$tertiaryColor:hsl(180, 14%, 20%);

$backgroundPrimary:hsl(180, 52%, 96%);
$backgroundSecondary: hsl(180, 31%, 95%);

$fontStack:'League Spartan', sans-serif;
$fontSize:62.5%;

body{
    margin: 0;
    padding: 0;
    font-family: $fontStack;
    font-size: $fontSize;
    background-color: $backgroundPrimary;
}
.formContainer{
    width: 100%;
    max-width: 48rem;
    height: 14rem;
    padding: 2rem 1rem;
    background-image: url("../Images/bg-header-mobile.svg");
    background-size: cover;
    background-color: $primaryColor;
    h1{
        margin-block-start: 0;
        margin-block-end: 2.4rem;
        font-size: 2rem;
        color: $tertiaryColor;
        font-weight: bold;
    }
    form{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-width: 3.2rem;
        gap: 2rem;
    }
    .formField{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        label{
            font-size: 1.2rem;
        }
        select{
            width: 8rem;
            height: 2rem;
            font-size: 1rem;            
            background-color: $backgroundPrimary;
            border-radius: 2rem;
            border: none;
        }
    }
}